<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sora</title>
    <link rel="icon" href="{% static 'Common/Icon/default.jpg' %}" type="image/x-icon"/>

    
    <script  type="text/javascript" src="{% static 'vue.min.js' %}"></script>
</head>
<body>
    <script>
        var head = 'http://'
        var _root = head + '{{ request.get_host }}'
    </script>

    <div class="container" id="app">
        
        <!-- DATA -->
        {% block data %}

        {% endblock data %}

        {% csrf_token %}
    </div>
</body>
</html>