<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sora</title>
    <link rel="icon" href="" type="image/x-icon"/>

    <link rel="stylesheet" href="/file/base.css"/>
    <script  type="text/javascript" src="{% static 'vue.min.js' %}"></script>
</head>
<body>
    <style>

    </style>
    <script>
        var head = 'https://'
        var _root = head + '{{ request.get_host }}'
    </script>

    <div id="app">
        {% include './Mixin/mixin_background.html' %}

        <!-- DATA -->
        {% block data %}

        {% endblock data %}

        {% csrf_token %}
    </div>
</body>
</html>